<h2 mat-dialog-title>{{description}}</h2>
<p *ngIf="isValidFormSubmitted && form.pristine" [ngClass] = "'success'">
        Form submitted successfully.
    </p>
<mat-dialog-content [formGroup]="form">
   <div class="row">
      <div class="col-md-6" >
        <mat-form-field appearance="outline"
            ><mat-label>Course Description</mat-label>
            <input matInput
                    placeholder="Course Description"
                  formControlName="description" required>
                  <mat-error>
                        This is a required field.
                </mat-error>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-6" >
        <mat-form-field>
        
          
        <mat-select placeholder="Select category"
            formControlName="category">

            <mat-option value="BEGINNER">
                Beginner</mat-option>
            <mat-option value="INTERMEDIATE">
                Intermediate</mat-option>
            <mat-option value="ADVANCED">
                Advanced</mat-option>

        </mat-select>
         </mat-form-field>
      </div>
  </div>
  <div class="row">
        <div class="col-md-6" >
        <mat-form-field>
                <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="myDatepicker"
                formControlName="releasedAt">

            <mat-datepicker-toggle matSuffix
                                [for]="myDatepicker">

            </mat-datepicker-toggle>

            <mat-datepicker #myDatepicker></mat-datepicker>

        </mat-form-field>
        </div>
        <div class="col-md-6" >
            <mat-form-field>
                    <mat-label>Description</mat-label>
                <textarea matInput placeholder="Description"
                    formControlName="longDescription">

                </textarea>
                <mat-error *ngIf="form.get('longDescription').hasError('required')">
                        This is a required field.
                </mat-error>
                <mat-error *ngIf="form.get('longDescription').hasError('pattern')">
                        Enter a valid name.
                </mat-error>
                <!-- <div *ngIf="LongDescription.errors && (isValidFormSubmitted != true || !isValidFormSubmitted)" [ngClass] = "'error'"> 
                        <div *ngIf="LongDescription.errors.required">
                            This is a required field.
                        </div>  
                        <div *ngIf="LongDescription.errors.pattern">
                            Enter a valid name.
                        </div> 
                </div> -->
               
        </mat-form-field>
        </div>


</div>
<div formGroupName="address">
    <h3>Address</h3>
  
    <label>
      Street:
      <input type="text" formControlName="street">
    </label>
  
    <label>
      City:
      <input type="text" formControlName="city">
    </label>
    
    <label>
      State:
      <input type="text" formControlName="state">
    </label>
  
    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>