.empl-view{
    margin-left:20px;
    margin-right:10px;
}

.card{
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow:  inset 0 0 0.2em #888;;
}

.card.empl-view-hour{
    height:30vh;
}
.card.empl-view-calendar{
    height:50vh;
}
.card.empl-view-info{
    height:80vh;
}