<div *ngIf="isList;else employeeDetail">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
    <div id="employees" class="table-responsive">
        <table class="table table-hover " matSort (matSortChange)="sortData($event)">
        <thead >
          <tr>
            <th mat-sort-header="lastName">Last Name</th>
            <th mat-sort-header="firstName">First Name</th>
            <th>Employee Id</th>
            <th>Job Title</th>
            <th>OnBoardingProcess</th> 
            <th>Status</th>
            <th>Hire Date</th>
            <th></th>
          </tr> 
        </thead>
        <tbody>
          <tr *ngFor="let employee of employeeList; let i = index"  [class.active]="i == selectedRow" (click)="openDialog(i)">
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.employeeAliasID }} </td>
            <td> {{ employee.jobTitle }} </td>
            <td> {{ employee.onboarding }} </td> 
            <td> {{ employee.statusText }} </td>
            <td> {{ employee.hireDate | date}} </td>
            <td><a (click)="getEmployeeDetail(i)" href="javscript:void">More</a></td>            
          </tr>
        </tbody>
        </table>
    
    </div>

<mat-paginator [length]="totalSize"
              [pageSize]="pageSize"
              [pageIndex]="currentPage"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [showFirstLastButtons]="true" 
              (page)="onPageChanged($event)">
</mat-paginator>
</div>
 <ng-template #employeeDetail><app-employee-detail [currentEmpl]="selectedEmpl"></app-employee-detail></ng-template>