#employees{
    margin-top:40px;
}

#employees .table tr.active td {
    background-color: lightskyblue !important;
    color: white;
  }

  #employees .table tr >th{
   border: none !important; 
} 

#employees .table  tr:last-child > td{
    border-bottom: solid 1px #dee2e6; 
 } 

 .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }