.title{
    padding:20px;
}

.table tr.active td {
    background-color: lightskyblue !important;
    color: white;
  }

.table tr >th{
   border: none !important; 
} 

.table  tr:last-child > td{
    border-bottom: solid 1px #dee2e6; 
 } 
 

