
<h2>Company</h2>
   <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>
<!-- <h5 class="text-secondary title">Companies: <span class="text-primary">{{count}}</span></h5>-->

<table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort  >

    <ng-container matColumnDef="CompanyId">
      <th mat-header-cell *matHeaderCellDef> Company ID </th>
      <td mat-cell *matCellDef="let element"> {{element.CompanyId}} </td>
    </ng-container>


    <ng-container matColumnDef="CompanyName">
      <th mat-header-cell *matHeaderCellDef> Company Name </th>
      <td mat-cell *matCellDef="let element"> {{element.CompanyName}} </td>
    </ng-container>


    <ng-container matColumnDef="DBA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DBA </th>
      <td mat-cell *matCellDef="let element"> {{element.DBA}} </td>
    </ng-container>


    <ng-container matColumnDef="NextPayDate">
      <th mat-header-cell *matHeaderCellDef> Next Pay Date </th>
      <td mat-cell *matCellDef="let element"> {{element.NextPayDate}} </td>
    </ng-container>


    <ng-container matColumnDef="ActiveEmployees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Employees </th>
        <td mat-cell *matCellDef="let element"> {{element.ActiveEmployees}} </td>
      </ng-container>

    <ng-container matColumnDef="ContactName">
      <th mat-header-cell *matHeaderCellDef> Contact Name </th>
      <td mat-cell *matCellDef="let element"> {{element.ContactName}} </td>
    </ng-container>

    <ng-container matColumnDef="Phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
    </ng-container>

    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
    </ng-container> -->

 
<!-- 
      <ng-container >
        <mat-header-cell *matHeaderCellDef> Yes</mat-header-cell>
        <mat-cell *matCellDef="let element" style="white-space: nowrap">
  
          <button mat-icon-button (click)="openDialog(row)">
            <span matTooltip="123">
            <mat-icon style="color: grey">assignment</mat-icon>
            </span>
          </button>
  
          <a [routerLink]="['./update', row.id]">
            <span matTooltip="123">
            <mat-icon>mode_edit</mat-icon>
            </span>
          </a>
  
          <a [routerLink]="['./delete', row.id]">
            <span matTooltip="123">
            <mat-icon>delete</mat-icon>
            </span>
          </a>
  
  
          <button mat-icon-button (click)="renderPDF(row.id)">
            <span matTooltip="123">
            <mat-icon style="color: grey">picture_as_pdf</mat-icon>
            </span>
          </button>
  
          <a [routerLink]="['./pdf', row.id]">-->
          <!--<span matTooltip="Προβολή PDF!">-->
          <!--<mat-icon>picture_as_pdf</mat-icon>-->
          <!--</span>-->
          <!--</a>-->
  
  
        <!-- </mat-cell> -->
     <!-- </ng-container> -->

     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table> 

   <mat-paginator #companyPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- <div >
    <table class="table table-hover " >
    <thead >
      <tr >
        <th>Company Id</th>
        <th>Company Name</th>
        <th>DBA</th>
        <th>Next Pay Date</th>
        <th>Active Employees</th> 
        <th>Contact Name</th>
        <th>Phone #</th>
        <th>Status</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let company of companyList; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
        <td> {{ company.CompanyId }} </td>
        <td> {{ company.CompanyName }} </td>
        <td> {{ company.DBA }} </td>
        <td> {{ company.NextPayDate }} </td>
        <td> {{ company.ActiveEmployees }} </td> 
        <td> {{ company.ContactName }} </td>
        <td> {{ company.Phone }} </td>
        <td> {{ company.Status }} </td> 
      </tr>
    </tbody>
    </table>

</div> -->

<!-- <router-outlet></router-outlet> -->