#dashboard{ 
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom:10px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:scroll;
  }
  
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    min-height: 80vh;
    align-items: flex-start;
  }
  
  #sidebar.active {
    margin-left: -80px;
  }

  #content{
      width:100%;
  }

  
  @media (max-width: 768px) {
    #sidebar {
        margin-left: -80px;
    }
    #sidebar.active {
        margin-left: 0;
    }
  }