
<div class="wrapper">
  <!-- A vertical navbar -->
    <nav class="navbar bg-light navbar-right " id="sidebar" [ngClass]="{ 'active': navbarOpen }">
          
          <!-- Links -->
    <ul class="navbar-nav">
            <a class="navbar-brand" href="#"><img src="assets/images/ApexLogoBlue.png" /></a>
    <li class="nav-item">
        <a class="nav-link" routerLink="dashboard"><img src="assets/images/Apex/Home.png" /></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="company"><img src="assets/images/Apex/SBO32.png" /></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"><img src="assets/images/Apex/Eftps32.png" /></a>
    </li>
    </ul>
    <ul class="nav navbar-nav align-self-end">
        <li *ngIf="isLoggedIn()"><a href="javascript:void" (click)="logout()"><img src="assets/images/Logout16.png" /></a></li>
        <li *ngIf="!isLoggedIn()"><a href="#"><i class="sign-in-alt"></i> Login</a></li>
    </ul>
    </nav>
  

    <div id="content">
        <a href="javscript:void" id="sidebarCollapse"  (click)="toggleNavbar()"> 
                <img src="assets/images/rew.gif" />
        </a> 

      <div class="container-fullwidth" id="dashboard">                            
             <router-outlet></router-outlet>
      </div>
  </div>
</div>

