/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import 'ag-grid/dist/styles/ag-grid.css';
@import 'ag-grid/dist/styles/ag-theme-balham.css';
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~fullcalendar/dist/fullcalendar.min.css";
body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

 .table thead th{
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgb(128,128,128);

}

.card{
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow:  inset 0 0 0.2em #888;;
}

.more-icon {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.more-icon:before, .more-icon:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
  }

  .more-icon:before {
  top: 4px;
  }


  .more-icon:after {
  top: 8px;
}


.has-float-label .form-control:placeholder-shown:not(:focus)+*{
  font-size:100%;
  top: 0.5em;
}

.btn{
  border: solid 2px lightskyblue;
  background-color: lightskyblue;
}

.btn.lightButton{
  border: solid 2px lightskyblue;
  color: lightskyblue;
  background-color: white;
}

