<h5 class="text-secondary title">Companies <span class="sub-title">{{company.CompanyName}}</span></h5>
<div >
    
     <!-- <nav mat-tab-nav-bar >
        <a mat-tab-link
           *ngFor="let link of routeLinks; let i = index;"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive"
        >
            {{link.label}}
        </a>
    </nav>

    <router-outlet></router-outlet>  -->

     <mat-tab-group>
        <mat-tab label="Company Dashboard ">
          <ng-template matTabContent>
            <app-company-dash></app-company-dash>
          </ng-template>
        </mat-tab>
        <mat-tab label="Employees">
          <ng-template matTabContent>
            <app-employees></app-employees>
          </ng-template>
        </mat-tab>
        <mat-tab label="Payroll Center">
            <ng-template matTabContent>
             <app-payroll-center></app-payroll-center>
            </ng-template>
          </mat-tab>
      </mat-tab-group>
</div>