<div class="row">
    <div class="col-md-3">
      <div class="card" style="height: 16rem;">
        <div class="card-body">
          <h5 class="card-title">Companies <span style="color:blue">Total</span></h5>
          <h1 class="card-text">78</h1>
          <a href="#" class="btn btn-primary">Add Company</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 16rem;" >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="height: 16rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card" style="height: 16rem;">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
  </div>
  <div class="row" style="margin-top: 20px">
      <div class="col-sm-6">
        <div class="card" style="height: 16rem;" >
          <div class="card-body">
            <h5 class="card-title">Companies</h5>
            <h2 class="card-text">78</h2>
            <a href="#" class="btn btn-primary">Add Company</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="height: 16rem;">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>