<h5 id="welcome">Welcome </h5>
<div *ngIf="isMain; else companySetup">
<div class="row">
    <div class="col-md-3" >
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Companies <a (click)="showModal()"><span style="color:blue">Total</span></a></h5>
          <h1 class="card-text">78</h1>
          <a href="#" class="btn btn-primary" (click)="addCompany()" >Add Company</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card"  >
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div >
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <button [appDisableIfUnauthorized]=view>Test</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card" >
          <div class="card-body">
           <app-referal-source-chart></app-referal-source-chart>
           <div><a class="card-text " (click)="showExpandChart()"><span class="primary-color">Expand</span></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card" >
            <div class="card-body">
             <app-revenue-breakdown-chart></app-revenue-breakdown-chart>
            </div>
          </div>
        </div>
  </div>
  <div class="row" style="margin-top: 20px">
      <div class="col-sm-6">
        <div class="card" id="communication">
          <div class="card-body">
          <app-full-calendar></app-full-calendar>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" id="calendar">
          <div class="card-body">
           <app-company-calendar></app-company-calendar>
          </div>
        </div>
      </div>
</div> 
</div>
<ng-template #companySetup>
  <app-company-setup></app-company-setup>
</ng-template>

<!-- <ng-template #content let-cl="close" let-di="dismiss">  
    <div class="modal-content">  
        <div class="modal-header">  
            <h5 class="modal-title">Modal title</h5> <button type="button" class="close" (click)="close()">  
  
            <span aria-hidden="true">×</span>  
  
          </button> </div>  
        <div class="modal-body">  
            <p>Modal body text goes here.</p>  
        </div>  
        <div class="modal-footer"> <button type="button" class="btn btn-secondary" (click)="di('Dismissed from dismiss button')">Dismiss</button> <button type="button" class="btn btn-primary" (click)="cl('Closed from Close button')">Close</button> </div>  
    </div>  
</ng-template> <button (click)="showModal(content)">Show Bootstrap Modal</button>  
<hr>   -->